html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h2, .btn {
  font-family: Dosis, sans-serif;
  font-weight: bolder;
}

.link-card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #9a816d;

  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;

  margin: .5rem;
  padding: 1rem 1rem 0;
}

.btn {
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: #785439;

  background-color: #785439;
  color: #f0eee8;
  text-decoration: none;
  font-size: 1.125rem;

  padding: .4em .75em .5em;

  display: inline-block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
  border-color: #512200;
}

dl {
  list-style-type: none;
  font-size: .875rem;
  padding: 1rem;
  padding-left: 0;
  margin-top: 0;

  border-width: 2px;
  border-style: solid;
  border-color: #9a816d;
  border-left: 0;
  border-right: 0;

  overflow: hidden;
}

dt {
  display: inline-block;
  float: left;
  width: 50%;
}

dd {
  display: inline-block;
  text-align: center;
  font-style: italic;
}

.link-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div {
  margin: 0 0 1rem;
  text-align: center;
}
